Verification test.
=link_to "back", :back
=@phone_verification_code

.container-fluid
  .row
    .col-md-4.col-md-offset-4
      =form_tag(:verify_phone, :method => :get) do
        .form-group
          =label_tag :code, "Verification Code:", :class => "control-label"
          =number_field_tag "code", nil, :class => "form-control"
        =submit_tag :submit, :class => "btn btn-primary"