.container-fluid
  .row
    .col-md-4.col-md-offset-4
      %p A text message has been sent to #{@phone_number} with a four digit verification code. Please input that code below to activate your account.
      =form_tag(:verify_phone, :method => :get) do
        = hidden_field_tag :code_id, @code_id 
        .form-group
          =label_tag :code, "Verification Code:", :class => "control-label"
          =number_field_tag :code, nil, :class => "form-control"
        =submit_tag :submit, :class => "btn btn-primary"