.container-fluid
	.row
		.col-lg-10.col-lg-offset-1
			%h1.page-header Dashboard
	.row
		.col-lg-10.col-lg-offset-1
			%h2.sub-header Messages
			.table-responsive
				%table.table.table-striped
					%thead
						%tr
							%th Date 
							%th Content
							%th
					%tbody
						-@notifications.each do |msg|
							%tr
								%td 
									=msg.created_at
								%td 
									=msg.content
								%td 
									=form_tag(:dismiss_message, :method => :get) do
										=hidden_field_tag "msg[id]", msg.id
										=submit_tag decode_entity("&times;"), :class => "close-btn", "aria-hidden" => "true"
			=will_paginate @notifications, :param_name => "page[:notifications]", :class => "pagination pagination-sm pull-right"
						
			
	.row
		.col-lg-10.col-lg-offset-1
			%h2.sub-header Your items
			%ul.nav.nav-tabs
				%li.active
					%a{"data-toggle" => "tab", href: "#selling"} Currently Selling
				%li
					%a{"data-toggle" => "tab", href: "#pending"} Pending Proposal
			.tab-content
				#selling.tab-pane.active 
					.table-responsive
						%table.table.table-striped
							%thead
								%tr
									%th Date due
									%th Title
									%th Price
									%th Description

								%tbody
									-@selling_items.each do |item|
										%tr
											%td 
												=item.sale_info.start_sale
											%td 
												=item.title
											%td 
												=item.sale_info.proposed_price
											%td 
												=item.description
					=will_paginate @selling_items, :param_name => "page[:selling]", :class => "pagination pagination-sm pull-right"
					
				#pending.tab-pane 
					.table-responsive
						%table.table.table-striped
							%thead
								%tr
									%th Proposal Date
									%th Title
									%th Vendi-bid
									%th Description

								%tbody
									-@pending_items.each do |item|
										%tr
											%td 
												=item.price_proposal.created_at
											%td 
												=item.title
											%td 
												=item.price
											%td 
												=item.description
					=will_paginate @pending_items, :param_name => "page[:pending]", :class => "pagination pagination-sm pull-right"
	.row
		.col-lg-10.col-lg-offset-1
			%h2.sub-header Sneak Peek
			.table-responsive
				%table.table.table-striped
					%thead
						%tr
							%th Thumb
							%th Title
							%th Description

						%tbody
							-@ledger_items.each do |item|
								%tr
									%td 
										=image_tag image.photo.url(:thumb), :class => "img-rounded"
									%td 
										=item.title
									%td 
										=item.description




























