=provide :title, 'Subscribe'
.container-fluid
	.row
		.col-sm-8.col-md-offset-2
			%h1#title VendiApp
			%hr
			.mobile-lp
				%p
					The app is not currently ready. We are working hard to make it happen as soon as possible.
				%hr
				%h3
					Thank you much for your subscription! We will let you know when it is ready.
			
