=provide :title, 'Subscribe'
.container-fluid
	.row
		.col-sm-8.col-md-offset-2
			%h1#title VendiApp
			%hr
			.mobile-lp
				%h3
					Thank you much for your subscription! We will let you know when it is ready.
			
