=provide :title, 'Subscribe'
.container-fluid
  .row
    .col-sm-6.col-md-offset-3
      = image_tag image_path("vendi.png"), :style => "width: 100%; padding:50px 6em;"
      .mobile-lp
        %p.lead
          Thanks for your interest! Expect to hear from us soon.
      
