.container-fluid
  .container{:style => "max-width:800px"}
    %h1{:style => "text-align:center; margin-top:100px"} The Opportunity
    %p{:style => "text-align:center; margin-top:30px"} The truth is a lot of people have personal belongings they want to sell, but don't have the time or inclination to do the selling themselves. As one of our Vendi Sellers, you have the opportunity to make money by selling these things for them. 
    %h1{:style => "text-align:center; margin-top:50px"} How it works
    %h3{:style => "text-align:left; margin-top:10px"} Explore the Item ledger
    %p 
      The 
      =link_to "item ledger", items_path
      contains all the items which have not yet been assigned to a Vendi Seller. This is where you will make Vendi-bids on items you want to sell.

    %h3{:style => "text-align:left; margin-top:50px"} Make a Vendi-bid
    %p 
      When you find an item you want to sell, Vendi-bid on the item. Your Vendi-bid, if accepted, is the amount the item's owner expects to make when the item sells. Once you sell the item, you must pay Vendi the amount of your Vendi-bid in order for the item to ship. You should sell the item for a price greater than the Vendi-bid. The difference between the final selling price (after any fees from the marketplace where you sell the item) and the Vendi-bid is what you earn. 

    %h3{:style => "text-align:left; margin-top:50px"} List the item 
    %p If your Vendi-bid is approved, list the item on the marketplace of your choice. Vendi does not charge our Vendi Sellers any fees, however you should consider the fees of the marketplace you are selling on, and list the item for a price greater than the Vendi-bid plus the marketplace fees. Again, your profit is the difference between the amount you sell the item for, after marketplace fees, and the Vendi-bid. <b>Vendi uses flat-rate shipping, so be sure to charge the buyer an additional $6.00 to cover this cost.</b>  

    %h3{:style => "text-align:left; margin-top:50px"} Sold! 
    %p Once the item sells, click on the item's "sold!" button on your dashboard. A Vendi representative will contact you to get the buyer's information, and to provide you with a paypal link. Use the paypal link to submit a cash amount equal to your Vendi-bid plus $6.00 for shipping. When Vendi receives your payment, the original owner ships the item to the buyer. 

    %h3{:style => "text-align:left; margin-top:50px"} Payment
    %p The marketplace where you sold the item pays you directly. Since you already paid Vendi the Vendi-bid, and sold the item for a higher price than the Vendi-bid, you just earned money! 
-#
  .row
    .col-lg-10.col-lg-offset-1
      %h1#title Vendi
      %p.lead Don't waste time finding things to sell. Sell more, make more with Vendi. 
-#
  
  .container
  .marketing 
    .row
      .col-lg-4
        %h2  Make money fast
        %p We make it easy for you to earn extra cash by doing what you do well, selling stuff online.
      .col-lg-4
        %h2 No more searching
        %p We connect you to a database of things people want sold for them. You simply sell the item in the marketplace of your choice.
      .col-lg-4
        %h2 No hassle shipping
        %p The owner of the item ships directly to the buyer. One less thing for you to worry about.
       
    / START THE FEATURETTES
    %hr.featurette-divider
      .row.featurette
        .col-md-7{:style => "vertical-align:center;"}
          %h2.featurette-heading
            %span.text-muted Step 1
            Choose an item and make an offer.
            
          %p.lead Choose an item you know you can sell and make a Vendi-bid. Your Vendi-bid is the amount the owner expects to make once the item sells. If your Vendi-bid is accepted, you are free to sell the item however you want.
        .col-md-5
          %img.featurette-image.img-responsive.center-block{:alt => "Generic placeholder image", src:image_path("grey.png"), :style => "width: 300px;"}
      %hr.featurette-divider
        .row.featurette
          .col-md-5
            %img.featurette-image.img-responsive.center-block{:alt => "Generic placeholder image", src:image_path("grey.png"), :style => "width: 300px;"}
          .col-md-7
            %h2.featurette-heading
              %span.text-muted Step 2
              Find a buyer.
            %p.lead Sell the item for any amount greater than your Vendi-bid. Once you sell the item, send us the Vendi-bid amount, and the item gets shipped to the buyer.
        %hr.featurette-divider
          .row.featurette
            .col-md-7
              %h2.featurette-heading
                %span.text-muted Step 3
                Get paid.
              %p.lead The marketplace you sell the item on pays you directly. You keep the difference between your Vendi-bid and the final selling price!

            .col-md-5
              %img.featurette-image.img-responsive.center-block{:alt => "Generic placeholder image",src:image_path("grey.png"), :style => "width: 300px;"}
        %hr.featurette-divider
          .row
            .col-lg-12
              %p.lead{:style => "margin-top: 0;"} Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, nesciunt obcaecati alias corrupti delectus a sapiente in odio non cupiditate!

