.container-fluid.lg-header

  .row
    .col-md-6.col-md-offset-3
      = image_tag image_path("sellerspage.png"), :style => "width: 100%; padding-top: 0; padding-bottom:0;"
      =button_to "Sign Up", new_seller_registration_path, {:method => "get", class: "special-btn center-block", :style => "margin-bottom: 10px; margin-top: 10px;"}


.container
  .marketing
    .row
      .col-md-4
        -#%img.featurette-image.img-responsive.center-block{:alt => "Vendi-bid image", src:image_path("dollar-sign.jpg"), :style => "width: 130px;"}
        %h2 Make money fast
        %p You make money by selling items that belong to other people.
      / /.col-md-4
      .col-md-4
        -#%img.featurette-image.img-responsive.center-block{:alt => "Vendi-bid image", src:image_path("item-ledge2.png"), :style => "width: 250px; padding-top: 25px"}
        %h2{:style => "margin-top: 40px"} No more searching
        %p We connect you to a database of things people want sold for them. You simply sell these items in the marketplace of your choice.
      / /.col-md-4
      .col-md-4
        -#%img.featurette-image.img-responsive.center-block{:alt => "Vendi-bid image", src:image_path("box.jpg"), :style => "width: 155px;"}
        %h2 No hassle shipping
        %p The owner of the item ships directly to the buyer. One less thing for you to worry about.
       
      / /.col-md-4
    / /.row
    / START THE FEATURETTES
    %hr.featurette-divider
      .row.featurette
        .col-md-7{:style => "vertical-align:center;"}
          %h2.featurette-heading
            %span.text-muted Step 1
            Explore our item database
            
          %p.lead  
            The item ledger is full of things people want you to sell for them. 
            = link_to "Preview the ledger", items_path
        .col-md-5
          %img.featurette-image.img-responsive.center-block{:alt => "Vendi-bid image", src:image_path("item-ledger1.png"), :style => "width: 350px;"}
      %hr.featurette-divider
        .row.featurette
          .col-md-5
            %img.featurette-image.img-responsive.center-block{:alt => "Marketplace image", src:image_path("vendi-bid-img2.png"), :style => "width: 350px;"}
          .col-md-7
            %h2.featurette-heading
              %span.text-muted Step 2
              Choose items
            %p.lead Select items you know you can sell and submit offers to sell them. 
        %hr.featurette-divider
          .row.featurette
            .col-md-7
              %h2.featurette-heading
                %span.text-muted Step 3
                Get paid.
              %p.lead You make money by selling these items on an existing marketplace such as Amazon or eBay!

            .col-md-5
              %img.featurette-image.img-responsive.center-block{:alt => "money image",src:image_path("money3.jpg"), :style => "width: 300px;"}
        %hr.featurette-divider
          .row
            .col-lg-12
              
              %p.lead{:style => "margin-top: 0;"} So there you have it. Make money by selling other people's stuff. Click the sign up button below to make a free account!
              =button_to "Sign Up", new_seller_registration_path, {:method => "get", class: "btn-lg btn-primary center-block"}
