=provide(:title, 'Welcome')
.container-fluid
	.row
		.col-md-8.col-md-offset-2
			%h1#title Vendi
			%hr.h-line/
			.call
				%p.text-center
					the ultimate selling experience
			%hr.h-line
		
			.col-sm-6
				.jumbotron
					.call
						%h2 Interested in making  cash selling other people's items?
						.text-center
							=button_to "Sell more, make more with Vendi" , welcome_seller_path, {:method => "get", class: "btn-lg btn-primary", :style => "width: 100%;"}

			.col-sm-6.call
				.jumbotron
					.call
						%h2 Have things to sell, but don't want to do it yourself?
						.text-center
							=button_to "Get your stuff sold with Vendi", new_app_subscriber_path,  {:method => "get", class: "btn-lg btn-primary", :style => "width: 100%;"}
				
	
