=provide(:title, 'Welcome')
.container-fluid
	.row
		.col-lg-8.col-lg-offset-2
			%h1#title Vendi
			%hr.h-line/
			.about-app
				%p 
					%b Consider the following story:  
					Pat is busy and has several unwanted items to sell, but doesn’t have the time or inclination to do the selling.  Sam makes a living selling online but searches through yard sales and flea markets struggling to find items to sell.  Enter Vendi. Vendi facilitates the sale of Pat’s stuff through Sam. Sam makes a commission and Pat’s stuff gets sold at a fair price; everyone wins.
			%hr.h-line/
			.about-app
				%p 
					%b Our Vision:
					We desire a future where there is little friction in the recycling of goods from one individual to another.  To make this a reality we are simplifying the process of selling one’s unwanted items, while creating income for others.  Lets realize this vision together. 
			%hr.h-line
			.call
				%h2 Who do you identify with in the story above?

				.col-sm-4.col-sm-offset-2.text-center
					-#%p If you are interested in the reselling experience help us determine what matters to you.
					=button_to "Sam", new_user_path, {:method => "get", class: "btn btn-primary"}
				.col-sm-4.text-center
					-#%p If you want help selling your items, help us determine what matters to you. 
					=button_to "Pat",  {:method => "get", class: "btn btn-primary"}

			

	