=provide :title, 'Mobile'
.container-fluid
	.row
		.col-md-6.col-md-offset-3
			%h1#title Vendi
			%hr
			.mobile-lp
				%p
					The app is not currently ready. We are working hard to make it happen as soon as possible.
				%hr
				%h3
					Notify Me when it's ready!
			=form_tag :class => "" do
				.col-sm-6.col-md-offset-3{:style => "margin-bottom: 20px;"}
					=label_tag :email, :email, :class => "sr-only"
					=email_field_tag :email, :email, :placeholder => "Your Email", :class => "form-control"
			%hr.row
				.col-sm-6.col-md-offset-3
					=submit_tag  "Get Notified", :class => "btn btn-primary center-block", :style => "width:100%; margin-bottom:50px"
			
