%h3 Brand:
%p  
  =@item.title

%h3 Model:
%p 
  =@item.condition


%h3 Item condition notes
%p 
  =@item.description

%h3 Owner's name
%p
  =@item.owners_name

%h3 Owner's email
%p 
  =@item.owners_email

%h3 Owner's zipcode
%p
  =@zip

-@item.images.each do |img|
  =image_tag img.photo.url