
=provide :title, 'Items'
.container-fluid
	.row
		.col-md-10.col-md-offset-1
			.row
				-@items.each_with_index do |item, carousel_idx|
					.col-md-3
						%button.btn.item-btn.text-center{align: "center", "data-placement" => "bottom", "data-toggle" => "modal", "data-target" => "#modalItem#{carousel_idx}", type: "button", :style => "width:214px; height: 384px;"}
							%h1.item-title
								= item.title
							#my-carousel.carousel.slide{"data-ride" => "carousel"}
								/ Indicators
								%ol.carousel-indicators
									-item.images.each_with_index do |image, index|
										-if index == 0
											%li.active{"data-slide-to" => "0", "data-target" => "#my-carousel"}
										-else
											%li{"data-slide-to" => "1", "data-target" => "#my_carousel"}
									
								/ Wrapper for slides
								.carousel-inner
									-item.images.each_with_index do |image, index|
										-if index == 0
											.item.active
												=image_tag image.photo.url(:medium), :class => "img-rounded"
										-else
											.item
												=image_tag image.photo.url(:medium), :class => "img-rounded"

						
-@items.each_with_index do |item, carousel_idx|	
	.modal.fade{:id => "modalItem#{carousel_idx}", "aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
		.modal-dialog.modal-lg
			.modal-content
				.modal-header
					%button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
					%h4#myModalLabel.modal-title 
						=item.title
				.modal-body
					.row
						.col-md-10.col-md-offset-1
							.item-details
								%h4 Description
								%p
									= item.description
								%hr
								%h4 Images
								-item.images.each do |img|
									.col-md-4
										=image_tag img.photo.url(:square), :class => "img-rounded", :style => "margin-top:10px; margin-bottom:20px;"
								
							
								
								=form_tag(:download_images, :method => :get) do 
									=hidden_field_tag :id, item.id
									=submit_tag "Download the images in original size.", :class => "btn btn-primary"
								
								%hr
								
								%h4 Vendi-bid
								%p Submit a Vendi-bid. This is the amount of money the owner expects to make after the item sells.  Remember: Your profit = (final selling price) - (marketplace fees) - (Vendi-bid). Do not consider the cost of shipping in your Vendi-bid. Vendi uses flat-rate shipping, so <b>be sure to charge the buyer an additional $6.00.</b> 
								%p If the item's owner accepts your Vendi-bid, you will be notified.
								%hr
								=form_tag(:new_price_proposal, :method => :get) do
									=hidden_field_tag "proposal[item_id]", item.id
									.form-group
										.col-sm-2
											=label_tag :price, "Vendi-bid:", :class => "control-label"
										.col-sm-3
											=number_field_tag "proposal[price]", nil, :class => "form-control", :placeholder => "USD"
									.col-sm-7
										=submit_tag :submit, :class => "btn btn-primary"

				.modal-footer
					%button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
			%ul.pagination.pagination-sm
				=will_paginate @items,  container: false



:javascript
	$(document).ready(function() {


	$('.carousel').carousel({
	interval: 3000
	});


	});
