// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.item-title {
  font-size:1em;
  text-align: center;
}

.item-image {
  width: 140px;
  height: 140px;
  margin: 1em;
}

.item-btn {
  background: transparent !important;
  width:100%;
  white-space: normal;
  padding:0;
}


#my-carousel {

}

.carousel-indicators {
  bottom: -40px;
}

.carousel-inner {
  margin-bottom: 40px;
}

.carousel-indicators li {
  background-color: #999;
  background-color: rgba(70,70,70,.25);
}

.carousel-indicators .active {
  background-color: #444;
}

.item-details > h3 {
  font-size: 1em;
}

.item-details > p {
  font-size: 1em;
}

.dismiss-btn {
  padding-right: 6px;
  padding-left: 6px;
  padding-top: 0;
  padding-bottom: 0;

}
