// Place all the styles related to the mobile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.mobile-lp > h3 {
	font-size: 2em; 
	text-align: center;
	color: #015965;
	font-family: cursive;
}

.mobile-lp > p {
	text-align: center;
}